<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/5c57fb1e06.js" crossorigin="anonymous"></script>
        <title></title>
        <style>
            .fab{
                color: black;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="px-4 py-5 my-5 text-end">
        <!--text end means align right-->
            <a class="fab fa-github" href="https://github.com/TheRadRabbidRabbit/Team-Lovelace"></a>
        </div>
    </body>
</html>