<ul class="navbar-nav mr-auto">
    <!--root menu -->
    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>
</ul>
<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/allie">Allie</a></li>
                <li><a class="dropdown-item" href="/gabriel">Gabriel</a></li>
                <li><a class="dropdown-item" href="/justin">Justin</a></li>
                <li><a class="dropdown-item" href="/rebecca">Rebecca</a></li>
                <li><a class="dropdown-item" href="/tianbin">Tianbin</a></li>
            </ul>
        </li>
    </ul>
</div>