<nav class="navbar navbar-expand-lg text-navbar-dark-color bg-navbar-light-color">
    <div class="container-fluid">
        <div class="btn-group">
            <a class="navbar-brand" href="{{ url_for('index') }}">Team Lovelace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

{#            <div class="collapse navbar-collapse" id="navbarHome">#}
{#                <ul class="navbar-nav">#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{{ url_for('index') }}">Home#}
{#                            <span class="sr-only"></span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About the Exam
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('nba.trivia') }}>Create Task Example</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Big Idea 1
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('collaboration') }}>Collaboration</a></li>
                            <li><a class="dropdown-item" href={{ url_for('program_function') }}>Program Function and Purpose</a></li>
                            <li><a class="dropdown-item" href={{ url_for('program_design') }}>Program Design and Development</a></li>
                            <li><a class="dropdown-item" href={{ url_for('errors') }}>Identifying and Correcting Errors</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Big Idea 2
                        </a>
                        <!--<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('allie') }}>Allie</a></li>
                            <li><a class="dropdown-item" href={{ url_for('gabriel') }}>Gabriel</a></li>
                            <li><a class="dropdown-item" href={{ url_for('justin') }}>Justin</a></li>
                            <li><a class="dropdown-item" href={{ url_for('rebecca') }}>Rebecca</a></li>
                            <li><a class="dropdown-item" href={{ url_for('tianbin') }}>Tianbin</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Big Idea 3
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('binary_search') }}>Binary Search demo</a></li>
                            <li><a class="dropdown-item" href={{ url_for('logic_gates') }}>Logic gates</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Big Idea 4
                        </a>
                        <!--<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('allie') }}>Allie</a></li>
                            <li><a class="dropdown-item" href={{ url_for('gabriel') }}>Gabriel</a></li>
                            <li><a class="dropdown-item" href={{ url_for('justin') }}>Justin</a></li>
                            <li><a class="dropdown-item" href={{ url_for('rebecca') }}>Rebecca</a></li>
                            <li><a class="dropdown-item" href={{ url_for('tianbin') }}>Tianbin</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Big Idea 5
                        </a>
                        <!--<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('allie') }}>Allie</a></li>
                            <li><a class="dropdown-item" href={{ url_for('gabriel') }}>Gabriel</a></li>
                            <li><a class="dropdown-item" href={{ url_for('justin') }}>Justin</a></li>
                            <li><a class="dropdown-item" href={{ url_for('rebecca') }}>Rebecca</a></li>
                            <li><a class="dropdown-item" href={{ url_for('tianbin') }}>Tianbin</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarHome">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('support') }}">Support
                            <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>

{#            <div class="collapse navbar-collapse" id="navbarHome">#}
{#                <ul class="navbar-nav">#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="https://tianbinliu.github.io/CSP-Lovelace/">GitHub Page</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('allie') }}>Allie</a></li>
                            <li><a class="dropdown-item" href={{ url_for('gabriel') }}>Gabriel</a></li>
                            <li><a class="dropdown-item" href={{ url_for('justin') }}>Justin</a></li>
                            <li><a class="dropdown-item" href={{ url_for('rebecca') }}>Rebecca</a></li>
                            <li><a class="dropdown-item" href={{ url_for('tianbin') }}>Tianbin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Feedback
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={{ url_for('crud_api.crud_api') }}>Feedback Database</a></li>
{#                            <li><a class="dropdown-item" href={{ url_for('crud.crud') }}>Feedback Database</a></li>#}
                            <li><a class="dropdown-item" href={{ url_for('crud.search') }}>Search Feedback</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

{#            <form class="d-flex">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#            </form>#}

            <div class="btn-group">
                <!-- Clock display -->
                <div class="px-3 text-navbar-dark-color">
                    <span id="clock"></span>
                </div>
                <!-- Dark mode action -->
                <div class="form-check form-switch">
                    <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                    <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                </div>
            </div>
        </div>
        {% block navbar_script %}
            <!-- Navigation bar JavaScript support -->
            <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
        {% endblock %}
    </div>
</nav>

