<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>Team Lovelace</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="margin-left: 1em;">Team Lovelace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li><a class="nav-link" href={{ url_for('index') }}>Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href={{ url_for('christina') }}>Christina</a>
                        <a class="dropdown-item" href={{ url_for('rebecca') }}>Rebecca</a>
                        <a class="dropdown-item" href={{ url_for('ritvik') }}>Ritvik</a>
                        <a class="dropdown-item" href={{ url_for('william') }}>William</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Mini-Labs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href={{ url_for('binary') }}>Binary Math Demo</a>
                        <a class="dropdown-item" href={{ url_for('color_code') }}>Color Code</a>
                        <a class="dropdown-item" href={{ url_for('greetings') }}>Greetings</a>
                        <a class="dropdown-item" href={{ url_for('logic_gates') }}>Logic Gates</a>
                        <a class="dropdown-item" href={{ url_for('RGB') }}>RGB Lab</a>
                        <a class="dropdown-item" href={{ url_for('unsigned_addition') }}>Unsigned Addition</a>
                        <a class="dropdown-item" href={{ url_for('signed_addition') }}>Signed Addition</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Website Ideation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href={{ url_for('brainwrite') }}>Brain Write</a>
                        <a class="dropdown-item" href={{ url_for('prototypes') }}>Prototypes</a>
                        <a class="dropdown-item" href={{ url_for('wireframes') }}>Wireframes</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Celestial Objects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href={{ url_for('blackholes') }}>Black Holes</a>
                        <a class="dropdown-item" href={{ url_for('comets') }}>Comets</a>
                        <a class="dropdown-item" href={{ url_for('constellations') }}>Constellations</a>
                        <a class="dropdown-item" href={{ url_for('galaxies') }}>Galaxies</a>
                        <a class="dropdown-item" href={{ url_for('nebulae') }}>Nebulae</a>
                        <a class="dropdown-item" href={{ url_for('planets') }}>Planets</a>
                        <a class="dropdown-item" href={{ url_for('stars') }}>Stars</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                        Journals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href={{ url_for('journal') }}>College Board Journal Notes</a>
                        <a class="dropdown-item" href={{ url_for('project_layout') }}>Project Layout Documentation</a>
                        <a class="dropdown-item" href={{ url_for('study_sheet') }}>Research/Study Sheet</a>
                        <a class="dropdown-item" href={{ url_for('tpt3') }}>TPT 3: Binary Notes</a>
                    </div>
                </li>
                <li><a class="nav-link" href={{ url_for('all_labs') }}>All Labs</a></li>
                <li><a class="nav-link" href={{ url_for('mantras') }}>Mantras</a></li>
                <li><a class="nav-link" href={{ url_for('navigation_guide') }}>Navigation Guide</a></li>

            </ul>
        </div>
    </nav>
</body>