<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>NBA Trivia</title>
{% endblock %}

{% block content %}
    <img src="/nba/static/assets/nba.jpg" alt="NBA Logo">
    <h1 style="display:inline">How Well Do You Know NBA Players and Teams?</h1>
    <p>Note: This NBA Trivia Game was created as practice for the College Board Create Performance Task. This is an example of a program that students can develop for the exam.</p>

    <div class="quiz">
        <div class="question"></div>
        <div class="answer">

        </div>
        <div class="answer">

        </div>
        <div class="answer">

        </div>
        <div class="answer">

        </div>
    </div>

{% endblock %}