<!DOCTYPE html>
{% extends "layout.html" %}
{% block meta %}
    <body style="background-color: dodgerblue">
    <div class="center-block" style="margin: 0% 0% 0% ; text-align:center; font-family: 'Trebuchet MS'; gilroy: serif; font-size: large">
{% endblock %}
{% block content %}
<script>
    let a = 0
    let pic1 ="static/assets/Pic2.jpg"
    let pic2 ="static/assets/Pic1.jpg"
    document.getElementById('mask').src = pic1;
    function maskswitch(){
        if (a === 0){
            document.getElementById('mask').src = pic1;
            a = 1
        }
        else {
            document.getElementById('mask').src = pic2;
            a = 0
        }
    }
    //code templated from tianbin
    let answer = [
        ""
    ]
    function api() {
        let b = Math.floor(Math.random() * (answer.length));
        document.getElementById('apiDisplay').innerHTML = answer[b];
    }

</script>
    <div>
        <p>Hi! I'm Gabriel Boudreau</p>
    </div>
        <div id="imgswap">
        <img src="static/assets/Pic1.jpg" height="190px" width="150px"
             id="mask"
        />
        <h1 id="apiDisplay"></h1>
    </div>
    <div>
        <input type="button" value="Mask" onclick="maskswitch();"/>
        <input type="button" value="API" onclick="api();"/>
    </div><div></div>
    <a href="https://docs.google.com/document/d/14g0EL3t9ETuV1lztLyBrkC-HJE5YgoFDMPx3iTwfzuA/edit?usp=sharing">Journal</a>
</div>
{% endblock %}
