<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Rebecca Su</title>
{% endblock %}

{% block content %}
    <style>
        body {
            background: rgb(63,144,251);
            background: radial-gradient(circle, rgba(63,144,251,1) 0%, rgba(70,240,252,1) 100%);
        }
    </style>

    <script>
        function toggle() {
            // using includes because the image source is actually the complete file path, so will not be exactly the same as the HTML
            if (document.getElementById("img").src.includes(document.getElementById("img1").innerHTML)) {
                document.getElementById("img").src = document.getElementById("img2").innerHTML;
            } else {
                document.getElementById("img").src = document.getElementById("img1").innerHTML;
            }
        }
    </script>

    <h1 style="padding: 10px; font-family: Cambria, serif">Hi, I'm Rebecca!</h1>

    <div style="padding: 10px; font-family: Cambria, serif">
    <h2>Relevant Links</h2>
    <ul>
        <li><a href="https://github.com/Rebecca-123">GitHub Profile</a></li>
        <li><a href="https://github.com/TheRadRabbidRabbit/Team-Lovelace/commits?author=Rebecca-123">GitHub Commits
            (Contributions to Project)</a></li>
        <li><a href="https://docs.google.com/document/d/1jgZfroaX7tC0uilEOarsjo7xJjUTaSmEAQq8CU3GvIo/edit?usp=sharing">Link
            to Journal (Google Doc Format)</a></li>
        <li><a href="https://github.com/Rebecca-123/csp_journal">Link
            to Journal (Located on GitHub)</a></li>
        <li>
            <a href="https://docs.google.com/document/d/1jgZfroaX7tC0uilEOarsjo7xJjUTaSmEAQq8CU3GvIo/edit#heading=h.fnm238pny2qn">College
                Board Create Task Planning</a></li>
    </ul>
    </div>

    <div style="padding: 10px; font-family: Cambria, serif">
    <h2>NBA Teams</h2>

    {% set teams = data.data %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Abbreviation</th>
            <th scope="col">City</th>
            <th scope="col">Conference</th>
            <th scope="col">Full Name</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <th scope="row">{{ team.id }}</th>
                <td>{{ team.abbreviation }}</td>
                <td>{{ team.city }}</td>
                <td>{{ team.conference }}</td>
                <td>{{ team.full_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    <div style="padding: 10px; font-family: Cambria, serif">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">JSON Format of NBA RapidAPI Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ teams }}</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
