<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Logical operators</title>
{% endblock %}

{% block content %}
    <body class="bg-Idea3-bg">
    <p>Logical operators are often used in functions with Boolean expressions. Try exploring the different outputs by
        checking the different boxes below!</p>
    <!-- 2 inputs-->
    <input type="checkbox" id="input1" name="input1" value="1"/>
    <label for="input1"> 1 </label><br/>
    <input type="checkbox" id="input2" name="input2" value="2"/>
    <label for="input2"> 2 </label><br/>
    <input type="button" value="Submit" onclick="getValues()"/>
    <table style="width: 100%; height: 100%">
        <tr>
            <th><h2>Logic Gate</h2></th>
            <th><h2>Result</h2></th>
        </tr>
        <tr>
            <td>And Gate</td>
            <td><textarea id="and_gate"></textarea></td>
        </tr>
        <tr>
            <td>Nand Gate</td>
            <td><textarea id="nand_gate"></textarea></td>
        </tr>
        <tr>
            <td>Or Gate</td>
            <td><textarea id="or_gate"></textarea></td>
        </tr>
        <tr>
            <td>Nor Gate</td>
            <td><textarea id="nor_gate"></textarea></td>
        </tr>
        <tr>
            <td>Xor Gate</td>
            <td><textarea id="xor_gate"></textarea></td>
        </tr>
    </table>
    <input type="checkbox" id="input0" name="input0" value="0"/>
    <label for="input0"> 1 </label><br/>
    <input type="button" value="Submit" onclick="notgate()"/><br>
    <table style="width: 100%; height: 100%">
        <tr>
            <td>Not Gate</td>
            <td><textarea id="not_gate"></textarea></td>
        </tr>
    </table>
    </body>
    <script>

        function notgate() {
            console.log(document.getElementById("input0").checked);

            logic0 = document.getElementById("input0").checked;

            not = !logic0;
            document.getElementById("not_gate").value = not;
        }

        console.log(document.getElementById("input1").checked);
        function getValues() {
            logic1 = document.getElementById("input1").checked;
            logic2 = document.getElementById("input2").checked;

            and = logic1 && logic2;

            nand = !and;

            or = logic1 || logic2;

            nor = !or;

            xor = (logic1 && !logic2) || (!logic1 && logic2);

            // results
            document.getElementById("and_gate").value = and;
            document.getElementById("nand_gate").value = nand;
            document.getElementById("or_gate").value = or;
            document.getElementById("nor_gate").value = nor;
            document.getElementById("xor_gate").value = xor;
        }
    </script>
{% endblock %}