{% set project = "Gabriel" %}
<script>
    let a = 0
    function maskswitch(){
        const pic1 ="static/assets/Pic2.jpg"
        const pic2 ="static/assets/Pic1.jpg"
        if (a === 0){
            document.getElementById('mask').src = pic1;
            a = 1
        }
        else {
            document.getElementById('mask').src = pic2;
            a = 0
        }
    }
    let api = [

    ]
    function api() {
        let b = Math.floor(Math.random() * (api.length));
        document.getElementById('factDisplay').innerHTML = api[b];
    }
</script>
{% block body %}
<body style="background-color: dodgerblue">
<div class="center-block" style="margin: 5% 0% 0% ; text-align:center; font-family: 'Trebuchet MS'; gilroy: serif; font-size: large">
    <div class="col-12">
        <p>Hi! I'm Gabriel Boudreau</p>
    </div>
    <div id="imgswap">
        <img src=""
             id="mask"
        />
        <h1 id="factDisplay"></h1>
    </div>
    <div>
        <input type="button" value="Mask" onclick="maskswitch();"/>
        <input type="button" value="API" onclick="api();"/>
    </div><div></div>
    <a href="https://docs.google.com/document/d/14g0EL3t9ETuV1lztLyBrkC-HJE5YgoFDMPx3iTwfzuA/edit?usp=sharing">Journal</a>
</div>
{% endblock %}
