<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Team Lovelace</title>
{% endblock %}

{% block content %}
        <div class="product" style="margin-top: 2%;">
            <div class="row" style="padding: 10% 2% 5% 25%;">
                <div class="col-8" >
                    <h1 style="font-size:50px; margin-top:20px; text-align:center;">A Guide to AP Computer Science Principles</h1>
                    <h3 style="margin-top:15px; text-align:center;">Ace the AP Computer Science Principles College Board Exam</h3>
                    <div style="text-align:center">
                        <button class="btn btn-btn-color" type="button" onclick="window.location.href='/about-the-exam';"  >Click Here</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

