<ul class="navbar-nav mr-auto">
    <!--root menu -->
    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/allie">Allie</a>
            <a class="dropdown-item" href="/gabriel">Gabriel</a>
            <a class="dropdown-item" href="/justin">Justin</a>
            <a class="dropdown-item" href="/rebecca">Rebecca</a>
            <a class="dropdown-item" href="/tianbin">Tianbin</a>
        </div>
    </li>
</ul>
