<ul class="navbar-nav mr-auto">
    <!--root menu -->
    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/abouttheexam">About the Exam</a>
    </li>
</ul>

<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Big Idea 1
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink1">
                <li><a class="dropdown-item" href="/Creativedevelopment1">Creative Development</a></li>
                <li><a class="dropdown-item" href="/Collaboration1">Collaboration</a></li>
                <li><a class="dropdown-item" href="/Programdesign1">Program Design</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Big Idea 2
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
                <li><a class="dropdown-item" href="/Creativedevelopment2">Creative Development</a></li>
                <li><a class="dropdown-item" href="/Collaboration2">Collaboration</a></li>
                <li><a class="dropdown-item" href="/Programdesign2">Program Design</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Big Idea 3
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink3">
                <li><a class="dropdown-item" href="/Creativedevelopment3">Creative Development</a></li>
                <li><a class="dropdown-item" href="/Collaboration3">Collaboration</a></li>
                <li><a class="dropdown-item" href="/Programdesign3">Program Design</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Big Idea 4
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink4">
                <li><a class="dropdown-item" href="/Creativedevelopment4">Creative Development</a></li>
                <li><a class="dropdown-item" href="/Collaboration4">Collaboration</a></li>
                <li><a class="dropdown-item" href="/Programdesign4">Program Design</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Big Idea 5
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink5">
                <li><a class="dropdown-item" href="/Creativedevelopment5">Creative Development</a></li>
                <li><a class="dropdown-item" href="/Collaboration5">Collaboration</a></li>
                <li><a class="dropdown-item" href="/Programdesign5">Program Design</a></li>
            </ul>
        </li>
    </ul>
</div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/support">Support</a>
            </li>
        </ul>

<div class="collapse navbar-collapse" id="navbarNavDarkDropdown6">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink6">
                <li><a class="dropdown-item" href="/allie">Allie</a></li>
                <li><a class="dropdown-item" href="/gabriel">Gabriel</a></li>
                <li><a class="dropdown-item" href="/justin">Justin</a></li>
                <li><a class="dropdown-item" href="/rebecca">Rebecca</a></li>
                <li><a class="dropdown-item" href="/tianbin">Tianbin</a></li>
            </ul>
        </li>
    </ul>
</div>